*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ancizar Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body{
    background-color: #202020;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 0;
}
#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
    opacity: 1;
    cursor: wait;
    transition: none;
    transition: 0.2s;
}
#loading2{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background-color: #202020;
    display: none;
    justify-content: center;
    align-items: center;
    transition: none;
    opacity: 0;
    cursor: wait;
    transition: none;
    transition: 0.2s;
}
#loader{
    width: 50px;
    height: 50px;
    border: 7px solid #606060;
    border-top-color: #F5F5DC;
    border-radius: 100%;
    animation: spin 0.8s linear infinite;
    transition: none;
}
#loader2{
    width: 50px;
    height: 50px;
    border: 7px solid #606060;
    border-top-color: #F5F5DC;
    border-radius: 100%;
    animation: spin 0.8s linear infinite;
    transition: none;
}
@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
b{
    font-weight: 800;
}
#ikeliama{
    color: #F5F5DC;
    position: absolute;
    font-size: 20px;
    margin-top: 120px;
    transition: none;
}
#ikeliama2{
    color: #F5F5DC;
    position: absolute;
    font-size: 20px;
    margin-top: 120px;
    transition: none;
}

#fullScreenWarning{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 21;
    background-color: #202020;
}
.ban{
    color: red;
    font-size: 70px;
}
#fullScreenWarning h2{
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
    color: #F5F5DC;

}
#fullScreenWarning p{
    font-size: 20px;
    color: #F5F5DC;
    margin-top: 5px;
}
#fullScreenWarning button{
    margin-top: 15px;
}

nav{
    width: 100%;
    height: auto;
    color: #F5F5DC;
    padding: 15px;
    padding-right: 170px;
    border-bottom: 1px solid #F5F5DC;
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
}
nav h1{
    font-size: 20px;
}
#timeListening{
    position: absolute;
    right: 200px;
    top: 17.5px;
    display: none;
}
#timeSpeaking{
    position: absolute;
    right: 200px;
    top: 17.5px;
    display: none;
}
#timeSpeech{
    position: absolute;
    right: 200px;
    top: 17.5px;
    display: none;
}
#user{
    position: absolute;
    right: 15px;
    top: 17.5px;
    transition: 0.3s;
    font-weight: 400;
    font-size: 17px;
}
#chooseTest{
    color: #F5F5DC;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.testOption{
    color: #F5F5DC;
    background-color: #323232;
    padding: 15px;
    border-radius: 25px;
    width: 300px;
    cursor: pointer;
    margin-left: 15px;
    transition: 0.3s;
}
.testOption:hover{
    opacity: 0.7;
}
.testOption:active{
    opacity: 0.2;
}
.testOption h2{
    font-size: 25px;
}
.testOption p {
    font-size: 17px;
}

section{
    width: 100%;
    height: 55px;
    color: #F5F5DC;
    border-top: 1px solid #F5F5DC;
    background-color: #202020;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5DC;
    color: #202020;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
    transform: scale(1.05);
}
button:active{
    opacity: 0.2;
}

.continueSpan{
    padding: 5px;
    background-color: #F5F5DC;
    color: #202020;
    font-size: 15px;
    border-radius: 25px;
}
.clickContinueToContinue{
    position: absolute;
    bottom: 70px;
    right: 25px;
    background-color: #202020;
    padding: 15px;
    border-radius: 25px;
}

#start{
    width: 100%;
    height: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#start p{
    color: #F5F5DC;
    font-size: 20px;
}

#infoWindow{
    width: 100%;
    height: 100%;
    display: none;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#infoWindow h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#infoWindow p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}

#infoWindow2{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#infoWindow2 h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#infoWindow2 p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}

#listeningInfo{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#listeningInfo h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#listeningInfo p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}

.listeningOptionWindow{
    width: 100%;
    margin-bottom: 30px;
}
.listeningOption{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #F5F5DC;
    padding: 11px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #202020;
    color: #F5F5DC;
    transition: 0.3s;
}
.listeningOption:hover{
    opacity: 0.7;
}
.listeningOption:active{
    opacity: 0.2;
}
.letter{
    position: absolute;
    left: 11px;
    top: 0;
    height: 100%;
    border-right: 2px solid #F5F5DC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    font-weight: 600;
}

audio{
    display: none;
}
.audioPlayback{
    width: 300px;
    height: 50px;
    border: 2px solid #F5F5DC;
    border-radius: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
#progressBg1{
    width: 100%;
    height: 10px;
    background-color: darkgrey;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.1s;
}
#playProgress1{
    width: 0;
    height: 10px;
    background-color: #F5F5DC;
    transition: 0.1s;
}
#timePlayed1 {
    font-size: 17px;
    color: #F5F5DC;
    margin-right: 7px;
    width: 35px;
    text-align: right;
}
#soundDuration1 {
    font-size: 17px;
    color: #F5F5DC;
    margin-left: 7px;
}
#progressBg2{
    width: 100%;
    height: 10px;
    background-color: darkgrey;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.1s;
}
#playProgress2{
    width: 0;
    height: 10px;
    background-color: #F5F5DC;
    transition: 0.1s;
}
#timePlayed2 {
    font-size: 17px;
    color: #F5F5DC;
    margin-right: 7px;
    width: 35px;
    text-align: right;
}
#soundDuration2 {
    font-size: 17px;
    color: #F5F5DC;
    margin-left: 7px;
}
#progressBg3{
    width: 100%;
    height: 10px;
    background-color: darkgrey;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.1s;
}
#playProgress3{
    width: 0;
    height: 10px;
    background-color: #F5F5DC;
    transition: 0.1s;
}
#timePlayed3 {
    font-size: 17px;
    color: #F5F5DC;
    margin-right: 7px;
    width: 35px;
    text-align: right;
}
#soundDuration3 {
    font-size: 17px;
    color: #F5F5DC;
    margin-left: 7px;
}

#listeningPart1{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #F5F5DC;
    display: none;
}
#listeningPart1 h1{
    margin-bottom: 15px;
}
#listeningPart1 p{
    font-size: 20px;
    margin-bottom: 10px;
}

#listeningPart2{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #F5F5DC;
    display: none;
}
#listeningPart2 h1{
    margin-bottom: 15px;
}
#listeningPart2 p{
    font-size: 20px;
    margin-bottom: 10px;
}

#listeningPart3{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #F5F5DC;
    display: none;
}
#listeningPart3 h1{
    margin-bottom: 15px;
}
#listeningPart3 p{
    font-size: 20px;
    margin-bottom: 10px;
}



#speakingInfo{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#speakingInfo h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#speakingInfo p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}

#speakingWindow{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#speakingWindow h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#speakingWindow p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}
#speakingWindow img{
    width: 300px;
    max-width: 45%;
    border-radius: 25px;
    margin-right: 15px;
    margin-bottom: 10px;
}
#speechPlanBg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
#speechPlan{
    height: auto;
    width: 30%;
    border: 1px solid #F5F5DC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    overflow: hidden;
}
#speechPlan img{
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    height: auto;
}
#gradingCriteriaBg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}
#gradingCriteria{
    height: auto;
    width: 30%;
    border: 1px solid #F5F5DC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    overflow: hidden;
}
#gradingCriteria img{
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    height: auto;
}

#speechWindow{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#speechWindow h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#speechWindow p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}
#speechWindow img{
    width: 300px;
    max-width: 45%;
    border-radius: 25px;
    margin-right: 15px;
    margin-bottom: 10px;
}

@keyframes recording {
    0%{
        transform: rotate(0);
        color: #F5F5DC;
    }
    50%{
        transform: rotate(180deg);
        color: red;
    }
    100%{
        transform: rotate(360deg);
        color: #F5F5DC;
    }
}

#results{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: none;
}
#results h1{
    color: #F5F5DC;
    margin-bottom: 15px;
}
#results p{
    color: #F5F5DC;
    font-size: 20px;
    margin-bottom: 10px;
}

#overview{
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 70px;
    padding-bottom: 140px;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #F5F5DC;
    display: none;
}
#overview h1{
    margin-bottom: 15px;
}
#overview p{
    font-size: 20px;
    margin-bottom: 10px;
}
.resultsOptionWindow{
    width: 100%;
    margin-bottom: 30px;
}
.resultsOption{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #F5F5DC;
    padding: 11px;
    padding-left: 50px;
    position: relative;
    margin-bottom: 10px;
    background-color: #202020;
    color: #F5F5DC;
    transition: 0.3s;
}